.logo {
  background-image: url("../assets/nav-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
